{% load static %}

<header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li id="indicators" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li id="indicators" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li id="indicators" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slider One  -->
          <div class="carousel-item active" id="slider-1">
            <div class="carousel-caption d-md-block" id="slider-1-caption" style="margin-bottom: 10rem;">
              <!-- Json Data -->
            </div>
            <div class="carousel-caption">
              <button class="btn btn-primary btn-lg" id="next1-1" style="border: none; background-color: #512182; ">Go to Bottom</button>
            </div>
          </div>
          <!-- Slider Two  -->
          <div class="carousel-item" id="slider-2">
            <div class="carousel-caption d-md-block" id="slider-2-caption" style="margin-bottom: 11rem;">
              <!-- Json Data -->
            </div>
            <div class="carousel-caption">
              <button class="btn btn-primary btn-lg" id="next1-2" style="border: none; background-color: #512182;" >Go to Bottom</button>
            </div>
          </div>
          <!-- Slider Three  -->
          <div class="carousel-item" id="slider-3">
            <div class="carousel-caption d-md-block" id="slider-3-caption" style="border: none; margin-bottom: 11rem;">
               <!-- Json Data -->
            </div>
            <div class="carousel-caption">
              <button class="btn btn-primary btn-lg" id="next1-3" style="border: none; background-color: #512182;" >Go to Bottom</button>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>